.app {
    display: flex;
 
  }
  
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
  }
  
  .sidebar.open {
    width: 250px;
  }
  
  .content {
    background-color: #0F0F0F;
    flex-grow: 1; /* Take remaining space */
    margin-left: 78px; /* Default width of the sidebar */
    transition: all 0.5s ease;
    min-height: 100vh; 
  }
  
  /* Adjust margin-left when sidebar is open */
  .sidebar.open ~ .content {
    margin-left: 250px;
  }
  
 

  
  @import url(https://fonts.googleapis.com/css?family=Lato);
  
  @import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Space+Mono&family=Rampart+One&family=Dancing+Script&family=Rubik+Iso&family=Gajraj+One&family=Mynerve&family=Climate+Crisis&family=Tilt+Prism&family=Smokum&display=swap');
  .heading{
    text-align: center;
    padding: 20px;
    color: white;
    font-family: 'Rampart One';
}

.heading {
  text-align: center;
  font-size: 3rem;
  
  margin-top: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 30px;
}
